@charset "UTF-8";
.clearfix {zoom:1;}
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}

.admin_gnb_top{text-decoration: none; color: white;}
a.move{text-decoration: none;}
li a{text-decoration: none;}

ul{list-style: none;}
/* 화면 전체 렙 */
.wrapper{width: 100%;}
/* content 랩 */
.wrap{width : 1500px;margin: auto;}
/* 홈페이지 기능 네비 */
.top_gnb_area{width: 100%;height: 50px;background-color: #212529;position:relative;}
.top_gnb_area .list{position: absolute;top: 0px;right: 0;padding-right: 30%;}
.top_gnb_area .list li{list-style: none;float : left;padding: 13px 15px 0 10px;font-weight: 900;cursor: pointer;}

/* 관리제 페이지 상단 현페이지 정보 */
.admin_top_wrap{height:110px; line-height: 110px;margin-bottom: 15px;}
.admin_top_wrap>span{margin-left: 30px;display:inline-block;font-size: 50px;font-weight: bolder;}
.admin_navi_wrap{width:20%;height:300px;float:left;height:100%}
.admin_navi_wrap li{display:block;height:80px;line-height:80px;text-align:center}
.admin_navi_wrap li a{display:block;height:100%;width:95%;margin:0 auto;cursor:pointer;font-size:30px;
	font-weight:bolder}
.admin_navi_wrap li a:link{color:#000}
.admin_navi_wrap li a:visited{color:#000}
.admin_navi_wrap li a:active{color:#000}
.admin_navi_wrap li a:hover{color:#000}
.admin_list_02{background-color:#c8c8c8}
.admin_content_wrap{width:80%;float:left;min-height:700px}
.admin_content_subject{font-size:40px;font-weight:bolder;padding-left:15px;background-color:#212529;height:80px;
	line-height:80px;color:#fff}

.form_section{width:95%;margin-left:2%;margin-top:20px;border:1px solid #dbdde2;background-color:#efefef}
.form_section_title{padding:20px 35px}
.form_section_title label{display:block;font-size:20px;font-weight:800}
.form_section_content{padding:20px 35px;border-top:1px solid #dbdde2}
.form_section_content input{width:98%;height:40px;font-size:20px;padding:5px 1%}
.ui-datepicker-trigger{margin-left:25px;width:14%;height:38px;font-weight:600;background-color:#dfe8f5;
	font-size:15px;cursor:pointer}
.ck-content{height:170px}
.btn_section{text-align:center;margin:80px 0}
.btn{min-width:180px;padding:4px 30px;font-size:25px;font-weight:600;line-height:40px}
.regist_btn{background-color:#dbdde2;margin-left:15px}
#registBtn:hover{background-color:#c9cbd0}
.form_section_content select{width:92%;height:35px;font-size:20px;text-align-last:center;margin-left:5px}
.cate_wrap span{font-weight:600}
.cate_wrap:not(:first-child){margin-top:20px}
#result_card img{max-width:100%;height:auto;display:block;padding:5px;margin-top:10px;margin:auto}


/* footer navai 영역 */
.footer_nav{ width:100%; height:50px; }
.footer_nav_container{ width: 100%; height: 100%; background-color:#FFC107; }
.footer_nav_container>ul{ font-weight : bold; float:left; list-style:none; position:relative; padding-top:10px;
    line-height: 27px; font-family: dotum; margin-left: 10px; }
.footer_nav_container>ul>li{ display:inline; width: 45px; height: 19px; padding: 10px 9px 0 10px;}
.footer_nav_container>ul>span{margin: 0 4px;}

/* footer 영역 */
.footer{ width:100%; height:150px; background-color:#212529; padding-bottom : 20px; padding-top: 15px; }
.footer_left>img { width: 100%; height: 100px; margin-left: 30px; margin-top: -15px; }
.footer_left{ float :left; width: 170px; margin-left: 20px; margin-top : 30px; }
.footer_right{ width: 680px; margin-left: 40%; color: white; }
.footer_home_button{ text-decoration: none; color: white; margin-right: 15px; margin-top: 15px; }
.footer_home_button:hover{color:#FFC107; }





